.markdown-body {
  background-color: var(--bgColor-default);
  word-wrap: break-word;
}

.markdown-body h1 {
  border-bottom: 1px solid var(--borderColor-muted);
  font-size: 32px;
  font-weight: 600;
  line-height: 1.25;
  margin: 0 0 16px;
  padding-bottom: 9.6px;
}

.markdown-body ol {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 32px;
}

.markdown-body li + li {
  margin-top: 4px;
}
